body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Avenir", sans-serif;
  font-size: 200%;
  line-height: 1.2;
  color: #eee;
  overflow: hidden;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after,
.response:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.region {
  /* border: 2px solid #222; */
  border-radius: 10px;
  margin: 0 auto;
}

#visualisation {
  width: 920px;
  height: 366px;
  margin-top: 0;
  margin-bottom: 10px;
  position: relative;
  right: 7px;
  overflow: hidden;
  text-align: center;
}

#visualisation video,
#visualisation img {
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#question {
  margin-top: 40px;
  width: 1018px;
  height: 362px;
  display: table;
  text-align: center;
  overflow: hidden;
}

#question h1 {
  font-size: 120%;
  font-weight: normal;
  display: table-cell;
  vertical-align: middle;
}

.answer {
  height: 225px;
  border: none;
  padding: 20px 0;
  margin: 0 30px 52px;
  white-space: pre-wrap;
}

.answer:last-child {
  margin-bottom: 0;
}

.answer.active {
  border-color: white;
}

.answer .caret {
  background: transparent;
}

.answer.active .caret {
  animation: pulsate 1.1s infinite linear;
  -webkit-animation: pulsate 1.1s infinite linear;
}

.answer.placeholder {
  color: rgba(255,255,255,.4) !important;
}

@keyframes pulsate {
  0% { background: #1f899c; }
  50% { background: black; }
  100% { background: #1f899c; }
}

#answer-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
}

.chart {
  padding: 0 50px;
}

.chart-heading {
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  margin-top: .75em;
  margin-bottom: 1em;
}

.chart .response {
  margin-bottom: 20px;
}

.chart .label {
  height: 60px;
  float: left;
  clear: left;
  text-align: right;
  width: 220px;
  margin-right: 20px;
}

.chart .bar {
  height: 60px;
  line-height: 60px;
  float: left;
  background-color: steelblue;
  position: relative;
  min-width: 2px;
}

.chart .bar span {
  position: absolute;
  left: 100%;
  padding-left: 15px;
}
